# Endereço do contrato CassoneCoin deployado
NEXT_PUBLIC_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# ID da rede (31337 para Hardhat local, 11155111 para Sepolia, 1 para Mainnet)
NEXT_PUBLIC_CHAIN_ID=31337
